@import "~@blueprintjs/core/lib/scss/variables";

body {
  background: $pt-app-background-color;
  padding: 20px;
}

.hz-app {
  margin: 0 auto;
  max-width: 960px;
}

.hz-chord-result {
  display: flex;
}

.hz-chord-name {
  flex: 0 0 auto;
  font-family: monospace;
  text-align: center;
  width: 50px;
}

.hz-chord-arrow {
  color: $pt-text-color-muted;
}
