@import "~@blueprintjs/core/lib/scss/variables";

body {
  background: $pt-app-background-color;
  padding: 20px;
}

.hz-app {
  margin: 0 auto;
  max-width: 960px;
}

.hz-chord-results {
  overflow-x: auto;
}

.hz-chord-result {
  display: flex;
  align-items: baseline;

  &:nth-child(2n) {
    background: $light-gray5;
  }
}

.hz-chord-result-id {
  flex: 0 0 auto;
  width: 60px;
  border-right: 1px solid $light-gray2;
  padding: 0 5px;
  font-family: monospace;
  font-size: $pt-font-size-small;
  color: $gray3;
  text-align: right;
}

.hz-chord-name {
  flex: 0 0 auto;
  font-family: monospace;
  text-align: center;
  width: 50px;
}

.hz-chord-arrow {
  color: $pt-text-color-muted;
}
